body {
    margin: 0;            /* Fjerner standard margin */
    padding: 0;           /* Fjerner standard padding */
    overflow: hidden;     /* Forhindrer scrollbars */
    font-family: montserrat;
  }
  /* Videoen fylder hele skærmen */
  #stjernehob video {
    position: fixed;      /* Fikseret i baggrunden */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;    /* Fylder hele skærmen uden at strække */
    z-index: -1;          /* Sørger for at alt andet ligger ovenpå */
  }
  #stjernehob img {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
  }
  #stjernehobBtn{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color:white;
    border: 2px solid white;
    cursor: pointer;
    padding: 20px;
    transition: opacity 1s ease;
    opacity: 0;

  }
 
  #stjernehobBtn.visible {
    opacity: 1;
    pointer-events: auto;
  }